* {
    box-sizing: border-box;
}


body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
}

label {
    margin-top: 10px;
    display: block;
}

label::first-letter {
    text-transform: capitalize;
}

input {
    margin-right: 10px;
    display: block;
}

header {
    padding: 10px 25px;
    background-color:black; 
    color: #f5f5f5;
}

section {
    width: auto;
    margin-left: 25px;
    margin-right: 10px;
}

div>ul {
    padding-left: 0;
}

ul {
    list-style: none;
    margin-bottom: 10px;
}

li {
    align-items: baseline;
}

textarea {
    width: 100%;
    min-height: 300px;
}